/*--
    Common Css
--*/
body {
  height: 100vh;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  color: #3b4045;
  font: 14px/22px 'Cabin', sans-serif, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1 { 
  padding: 20px 0px;
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
}

h2 {
  font-size: 22px;
  color: #fff25c;
}

h3 {
  font-size: 18px;
  color: #526162;
}

p, ol, li {
  font-size: 18px;
  color: #233233;
  list-style-type: none;
  margin: 2px 0px;
  padding: 0px;
}
span.strong {
  font-weight: 700;
}

a {
  color: #4982ce;
}

a:hover {
  text-decoration: none;
  color: #4982ce;
}

ol {
  display: flex;
  padding: 10px 0px;
  gap: 40px;
  z-index: 5;
}

ol.select-options {
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 0px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}

ol.select-options.show {
  display: block;
}

ol.select-options li {
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 4px;
  cursor: default;
}

ol.select-options li:hover {
  background-color: #65d7d6;
}

ol.desc-list {
  flex-direction: column;
  gap: 0px;
  padding: 0px;
  line-height: 26px;
}

ol.desc-list.inner {
  padding: 0px;
  margin-left: 20px;
}


input[type='text'] {
  min-width: 132px;
  height: 36px;
  padding-left: 10px;
  border: 1px solid #65d7d6;
  border-radius: 18px;
  color: #233233;
  outline: none;
  width: 100%;
  margin-bottom: 10px;
}
 
input[type=checkbox] {
  width: 17px;
  height: 17px;
  margin-right: 6px;
  color: #FFFFFF;
  vertical-align: middle;
  -webkit-appearance: none;
  background: none;
  border: 0;
  outline: 0;
  border-radius: 4px;
  cursor: pointer;
}

input[type=checkbox]::before {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #CCD3D8;
}

input[type=checkbox]:hover::before {
  box-shadow: inset 0 0 0 1px #65d7d6;
}

input[type=checkbox]:checked {
  background-color: currentcolor;
}
input[type=checkbox]:checked::before {
  box-shadow: none;
  background-image: var(--checkboxIcon);
  background-repeat: no-repeat;
}

input:not([type='checkbox']):hover {
  background-color: #f5f5f5;
}

input.error {
  border-color: #ff2e56;
}
input ~ span.error {
  display: block;
  position: absolute;
  font-size: 12px;
  color: #ff2e56;
  opacity: 0;
}
input ~ span.checkbox-error {
  top: 16px;
  right: 0px;
}
input ~ span.input-error {
  top: 10px;
  right: 0px;
}
input ~ span.select-error {
  top: -20px;
  right: 0px;
}
input ~ span.error.show {
  opacity: 1;
}

.select {
  position: relative;
}

.select input {
  margin-bottom: 6px;
  cursor: default;
}

.select .icon-select {
  position: absolute;
  top: 15px;
  right: 10px;
}

button {
  --btn-background: #ea5a25;
  position: relative;
  height: 32px;
  padding: 5px 30px;
  font-size: 15px;
  color: #ffffff;
  background-color: var(--btn-background);
  border: 1px solid;
  border-radius: 16px;
  cursor: pointer;
}
button:hover {
  --btn-background: #f46835;
  background-color: var(--btn-background);
}
button:focus {
  outline: none;
  box-shadow: none;
}
button .btn-loading {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 12%;
  left: 10%;
  background-color: var(--btn-background);
  opacity: 0;
}
button .btn-loading:hover {
  --btn-background: #f46835;
  background-color: var(--btn-background);
}
button .btn-loading.show {
  opacity: 1;
}

img.icon-loading {
  width: auto;
  height: 100%;
  opacity: 0;
}
.show > img.icon-loading {
  animation: rotation 2s infinite linear;
  opacity: 1;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 55px;
  background-color: #b3d7d8;
}
footer .terms-detail {
  display: flex;
  position: absolute;
  gap: 20px;
  right: 100px;
  text-decoration: underline;
}
footer .terms-detail a {
  width: 116px;
  font-size: 14px;
}
footer .terms-detail a.sm {
 width: 40px;
}
footer .terms-detail a:hover {
  font-weight: 700;
}

.divider {
  width: 100%;
  height: 8px;
  background-image: linear-gradient(to left, #65d7d6, #4982ce);
}

.vobil-header {
  display: flex;
  align-items: center;
  height: 62px;
  padding: 0px 8vw;
}

.vobil-header .vobil-logo {
  height: 40px;
  margin-right: 40px;
}

.vobil-header p.main {
  font-size: 22px;
  font-weight: 700;
}

.vobil-header a.tel {
  font-size: 22px;
  color: #233233;
}

.vobil-header a.tel:hover {
  font-weight: 700;
}

.vobil-header p.agent {
  font-size: 14px;
  font-weight: 700;
  color: #1cd18c;
}

.vobil-header .agent-detail {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-left: auto;
}

.vobil-content {
  position: relative;
  padding: 40px 8vw 80px;
  background-image: var(--landingBgImage);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 125px);
  /* min-height: calc(48vw + 2px); */
}

.vobil-content > .about {
  display: flex;
  flex-direction: column;
}

.vobil-content > .about p.title {
  font-size: 18px;
  font-weight: 700;
  color: #4982ce;
}

.vobil-content > .help .text-help {
  height: 32px;
}
  
.vobil-content > .help .form {
  width: fit-content;
  height: auto;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
}

.vobil-content > .help .form .form-row {
  display: flex;
  width: 100%;
  gap: 20px;
}

.vobil-content > .help .form .form-column {
  position: relative;
  width: 50%;
}

.vobil-content > .help .form p {
  margin: 10px 0px;
 }

.vobil-content > .help .form label {
  font-size: 14px;
  color: #526162;
  font-weight: 700;
}
.vobil-content > .help .form .actions {
  text-align: right;
}

.vobil-content > .help .form label.checkbox {
  position: relative;
  font-weight: 300;
  font-size: 12px;
  color: #233233;
  margin-right: 10px;
}

.vobil-content > .help .form p {
 margin: 10px 0px;
}

.terms-privacy {
  color: #233233;
  font-size: 18px;
}

.terms-privacy li {
  display: flex;
  align-items: baseline;
  gap: 6px;
}

.terms-privacy-head {
  font-size: 40px;
  font-weight: 700;
  padding: 30px 0px 10px;
  margin: 0px;
  color: #233233;
}
.terms-privacy-head-desc {
  font-size: 22px;
  margin: 10px 0px;
}
.terms-privacy-main-title {
  font-size: 28px;
  font-weight: 700;
  margin: 10px 0px 30px;
  color: #ea5a25;
}
.terms-privacy-section {
  padding: 20px 0px 0px;
}
.terms-privacy-section-title {
  margin: 10px 0px 14px;
  font-size: 22px;
  font-weight: 700;
  color: #4982ce;
}
.terms-privacy-section-desc {
  margin: 12px 0px;
  line-height: 26px;
}


/* animation */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media only screen and (max-width: 1366px) { 
  footer {
    flex-direction: column;
    height: 80px;
    text-align: center;
  }
  footer .terms-detail {
    position: relative;
    right: 0px;
  }
}

@media only screen and (max-width: 767px) { 
  h1 {
    width: 46%;
    padding-top: 16%;
    margin: 0px 2vw;
    font-size: 22px;
    text-align: center;
  }
  p, li {
    font-size: 16px;
  }
  p.description {
    text-align: center;
  }
  ol {
    flex-direction: column;
    gap: 0px;
    width: fit-content;
    margin: auto;
  } 
  ol.desc-list {
    line-height: 22px;
  }
  li {
    text-align: left;
  }
  input ~ span.checkbox-error {
    right: 50%;
    transform: translate(50%);
  }

  footer {
    background-color: rgba(219, 232, 237, 0.7);
  }

  .divider {
    height: 5px;
  }

  .vobil-header {
    padding: 0px 4vw;
  }
  .vobil-header .vobil-logo {
    height: 20px;
    margin-right: 2vw;
  }
  .vobil-header p.main {
    font-size: 14px;
  }
  .vobil-header a.tel {
    font-size: 14px;
  }
  .vobil-header p.agent {
    font-size: 12px;
  }

  .vobil-content {
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 0px 0px 60px;
    text-align: center;
    background-image: unset;
    background-color: #dbe8ed;
  }
  .vobil-content-title {
    width: 100%;
    height: 70vw;
    background-image: var(--landingBgImageMobile);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .vobil-content ol {
    text-align: left;
  }
  .vobil-content > .about {
    padding: 0px 4vw;
  }
  .vobil-content > .help {
    padding: 0px 4vw;
  } 
  .vobil-content > .help .form {
    margin: 20px auto 0px;
  }
  .vobil-content > .help .form label.checkbox{
    margin-bottom: 16px;
  }
  .vobil-content > .help .form .form-row:not(.inner) {
    flex-direction: column;
    gap: 0px;
  }
  .vobil-content > .help .form .form-row > .form-column {
    width: 100%;
    text-align: left;
  }
  .vobil-content > .help .form .actions {
    text-align: center;
    margin-top: 8px;
  }

  .vobil-content > .help .form .actions label {
    display: block;
  }

  .terms-privacy {
    padding: 0px 4vw 60px;
    background-color: #ffffff;
  }
  .terms-privacy-head {
    line-height: 30px;
    font-size: 30px;
    padding: 40px 0px 0px;
  }
  .terms-privacy-head-desc {
    margin: 20px 0px 0px;
    font-size: 20px;
  }
  .terms-privacy-section-title {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 24px;
  }
  .terms-privacy-section-desc {
    margin: 6px 0px;
    line-height: 22px;
  }
  .terms-privacy-main-title {
    font-size: 24px;
    line-height: 26px;
    margin: 20px 0px;
  }
}