.btn-radius {
  border-radius: 20px; }

.card {
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.5);
  border-radius: 18px;
  overflow: hidden; }

@media (max-width: 1200px) {
  nav .main {
    display: none; } }
