.btn-radius {
  border-radius: 20px; }

.card {
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.5);
  border-radius: 18px;
  overflow: hidden; }
  .card .image {
    height: 200px;
    background-size: cover; }
  .card .card-title {
    height: 52px;
    line-height: normal; }
  .card .card-text {
    height: 60px;
    line-height: normal; }

@media (max-width: 1200px) {
  nav .main {
    display: none; } }

.rotate-ani {
  animation: rotate-taichi 2s ease-in infinite alternate; }

@keyframes rotate-taichi {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(720deg); } }

nav {
  font-size: 15px; }

li {
  margin: 8px 0; }

ol {
  list-style-type: revert; }

ul {
  list-style-type: disc; }
